In [1]:
import pandas as pd
import numpy as np
from sklearn.metrics import pairwise_distances
from scipy.spatial.distance import cosine, correlation

In [2]:
data = pd.read_csv("C:\\Users\\INDIA\\Downloads\\Assignment csv file\\book.csv")
data

,ChildBks,YouthBks,CookBks,DoItYBks,RefBks,ArtBks,GeogBks,ItalCook,ItalAtlas,ItalArt,Florence
0,0,1,0,1,0,0,1,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,0
3,1,1,1,0,1,0,1,0,0,0,0
4,0,0,1,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
1995,0,0,1,0,0,1,1,1,0,1,1
1996,0,0,0,0,0,0,0,0,0,0,0
1997,0,0,0,0,0,0,0,0,0,0,0
1998,0,0,1,0,0,0,0,0,0,0,0
1999,0,0,0,0,0,0,0,0,0,0,0

In [3]:
data.index = np.arange(1, len(data)+1)

In [4]:
data['userId']= data.index
data

,ChildBks,YouthBks,CookBks,DoItYBks,RefBks,ArtBks,GeogBks,ItalCook,ItalAtlas,ItalArt,Florence,userId
1,0,1,0,1,0,0,1,0,0,0,0,1
2,1,0,0,0,0,0,0,0,0,0,0,2
3,0,0,0,0,0,0,0,0,0,0,0,3
4,1,1,1,0,1,0,1,0,0,0,0,4
5,0,0,1,0,0,0,1,0,0,0,0,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1996,0,0,1,0,0,1,1,1,0,1,1,1996
1997,0,0,0,0,0,0,0,0,0,0,0,1997
1998,0,0,0,0,0,0,0,0,0,0,0,1998
1999,0,0,1,0,0,0,0,0,0,0,0,1999
2000,0,0,0,0,0,0,0,0,0,0,0,2000

In [5]:
books = data.iloc[:,:-1]
books

,ChildBks,YouthBks,CookBks,DoItYBks,RefBks,ArtBks,GeogBks,ItalCook,ItalAtlas,ItalArt,Florence
1,0,1,0,1,0,0,1,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,0
4,1,1,1,0,1,0,1,0,0,0,0
5,0,0,1,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
1996,0,0,1,0,0,1,1,1,0,1,1
1997,0,0,0,0,0,0,0,0,0,0,0
1998,0,0,0,0,0,0,0,0,0,0,0
1999,0,0,1,0,0,0,0,0,0,0,0
2000,0,0,0,0,0,0,0,0,0,0,0

In [6]:
# for calculating the distances between the user's
# we will use cosine similarity

In [7]:
user_sim = 1- (pairwise_distances(books, metric='cosine'))

In [8]:
user_sim_df = pd.DataFrame(user_sim)
user_sim_df

,0,1,2,3,4,5,6,7,8,9,...,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999
0,1.000000,0.000000,0.0,0.516398,0.408248,0.000000,0.577350,0.408248,0.408248,0.577350,...,0.516398,0.000000,0.654654,0.0,0.0,0.235702,0.0,0.0,0.000000,0.0
1,0.000000,1.000000,0.0,0.447214,0.000000,0.577350,0.000000,0.000000,0.707107,0.500000,...,0.447214,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0
2,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0
3,0.516398,0.447214,0.0,1.000000,0.632456,0.258199,0.447214,0.632456,0.316228,0.894427,...,0.600000,0.000000,0.507093,0.0,0.0,0.365148,0.0,0.0,0.447214,0.0
4,0.408248,0.000000,0.0,0.632456,1.000000,0.000000,0.000000,0.000000,0.000000,0.707107,...,0.632456,0.000000,0.534522,0.0,0.0,0.577350,0.0,0.0,0.707107,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,0.235702,0.000000,0.0,0.365148,0.577350,0.471405,0.000000,0.000000,0.000000,0.408248,...,0.547723,0.408248,0.771517,0.0,0.0,1.000000,0.0,0.0,0.408248,0.0
1996,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0
1997,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0
1998,0.000000,0.000000,0.0,0.447214,0.707107,0.000000,0.000000,0.000000,0.000000,0.500000,...,0.447214,0.000000,0.377964,0.0,0.0,0.408248,0.0,0.0,1.000000,0.0
1999,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0

In [9]:
user_sim_df.index = data.userId
user_sim_df.columns = data.userId

In [10]:
user_sim_df

userId,1,2,3,4,5,6,7,8,9,10,...,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000
userId,,,,,,,,,,,,,,,,,,,,,
1,1.000000,0.000000,0.0,0.516398,0.408248,0.000000,0.577350,0.408248,0.408248,0.577350,...,0.516398,0.000000,0.654654,0.0,0.0,0.235702,0.0,0.0,0.000000,0.0
2,0.000000,1.000000,0.0,0.447214,0.000000,0.577350,0.000000,0.000000,0.707107,0.500000,...,0.447214,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0
3,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0
4,0.516398,0.447214,0.0,1.000000,0.632456,0.258199,0.447214,0.632456,0.316228,0.894427,...,0.600000,0.000000,0.507093,0.0,0.0,0.365148,0.0,0.0,0.447214,0.0
5,0.408248,0.000000,0.0,0.632456,1.000000,0.000000,0.000000,0.000000,0.000000,0.707107,...,0.632456,0.000000,0.534522,0.0,0.0,0.577350,0.0,0.0,0.707107,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1996,0.235702,0.000000,0.0,0.365148,0.577350,0.471405,0.000000,0.000000,0.000000,0.408248,...,0.547723,0.408248,0.771517,0.0,0.0,1.000000,0.0,0.0,0.408248,0.0
1997,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0
1998,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0
1999,0.000000,0.000000,0.0,0.447214,0.707107,0.000000,0.000000,0.000000,0.000000,0.500000,...,0.447214,0.000000,0.377964,0.0,0.0,0.408248,0.0,0.0,1.000000,0.0
2000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0

In [11]:
# diag0nal values are distance of same users 
# hence we will convert all the diagonal values into 0

In [12]:
np.fill_diagonal(user_sim,0)

In [13]:
user_sim_df

userId,1,2,3,4,5,6,7,8,9,10,...,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000
userId,,,,,,,,,,,,,,,,,,,,,
1,0.000000,0.000000,0.0,0.516398,0.408248,0.000000,0.577350,0.408248,0.408248,0.577350,...,0.516398,0.000000,0.654654,0.0,0.0,0.235702,0.0,0.0,0.000000,0.0
2,0.000000,0.000000,0.0,0.447214,0.000000,0.577350,0.000000,0.000000,0.707107,0.500000,...,0.447214,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0
3,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0
4,0.516398,0.447214,0.0,0.000000,0.632456,0.258199,0.447214,0.632456,0.316228,0.894427,...,0.600000,0.000000,0.507093,0.0,0.0,0.365148,0.0,0.0,0.447214,0.0
5,0.408248,0.000000,0.0,0.632456,0.000000,0.000000,0.000000,0.000000,0.000000,0.707107,...,0.632456,0.000000,0.534522,0.0,0.0,0.577350,0.0,0.0,0.707107,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1996,0.235702,0.000000,0.0,0.365148,0.577350,0.471405,0.000000,0.000000,0.000000,0.408248,...,0.547723,0.408248,0.771517,0.0,0.0,0.000000,0.0,0.0,0.408248,0.0
1997,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0
1998,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0
1999,0.000000,0.000000,0.0,0.447214,0.707107,0.000000,0.000000,0.000000,0.000000,0.500000,...,0.447214,0.000000,0.377964,0.0,0.0,0.408248,0.0,0.0,0.000000,0.0
2000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0

In [14]:
# most similar users :-

user_sim_df.idxmax(axis=1)

userId
1       232
2        22
3         1
4       159
5        12
       ...
1996     64
1997      1
1998      1
1999     17
2000      1
Length: 2000, dtype: int64

In [15]:
data[(data['userId']==2) | (data['userId']==22)]

,ChildBks,YouthBks,CookBks,DoItYBks,RefBks,ArtBks,GeogBks,ItalCook,ItalAtlas,ItalArt,Florence,userId
2,1,0,0,0,0,0,0,0,0,0,0,2
22,1,0,0,0,0,0,0,0,0,0,0,22

In [16]:
data[(data['userId']==1996) | (data['userId']==64)]

,ChildBks,YouthBks,CookBks,DoItYBks,RefBks,ArtBks,GeogBks,ItalCook,ItalAtlas,ItalArt,Florence,userId
64,1,0,1,0,0,1,1,1,0,1,1,64
1996,0,0,1,0,0,1,1,1,0,1,1,1996

In [17]:
# as we can see user-1996 did not read that "childbks" we can recommend that user to read that book

---------------------------------------------------------------------------------------END-------------------------------------------------------------------------